extends articles_layout
block content
	h1= article.title
	h4= article.description
	p= article.body
	p
		span Создан: 
		span= article.created.toLocaleDateString()
		span= article.created.getMonth() + 1 + '/'
		span= article.created.getFullYear()
	a.btn.btn-default(href='/article/edit/' + article._id) Редактировать