extends articles_layout
block content
	h1= article.title
	h4= article.description
	p= article.body
	p
		small Автор: 
		small= author
	a.btn.btn-default(href='/articles/edit/' + article._id) Редактировать
	button.btn.btn-danger.delete-article(data-id=article._id) Удалить