extends articles_layout
block content
	h1= article.title
	h4= article.description
	p= article.body
	p
		span Создан: 
		span= article.created
	a.btn.btn-default(href='/articles/edit/' + article._id) Редактировать
	button.delete-article(data-id=article._id) Удалить