extends articles_layout
block content
	h1= article.title
	h3= article.description
	p= article.body
	p
		span= article.created.getFullYear() 
		span= article.created.getMonth() 
		span= article.created.getDate()
	a.btn.btn-default(href='/article/edit/' + article._id) Редактировать