extends articles_layout
block content
	h1= article.title
	h4= article.description
	p= article.body
	p
		span Создан: 
		span= article.created
	a.btn.btn-default(href='/article/edit/' + article._id) Редактировать
	button.delete-article(data-id=article._id) Удалить
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
	script(src='./js/public/delete-article.js')