extends layout.pug
block css
	link(rel="stylesheet" href="./css/boutique.css")
block content
	.page-boutique-wrap
		.page-boutique-container
			.boutique-page-block.clearfix
				.boutique-profile-block
					.profile-logo-block
						- var logo = boutique.logo
						- var url
						if logo.substr(0,4)=='http'
							- url = logo
						else
							- url = './img/boutiques/' + logo
						img.profile-logo-img(src= url)
					.profile-tags-block
				.boutique-content-block
					.boutique-content-header
						.boutique-name
							h2.boutique-name-title= boutique.name
					.boutique-content-body
						.boutique-content-list
							ul.boutique-info-list
								li.boutique-info-list-item
									span.boutique-info-label-span.field-span Саламат:
									span.boutique-info-value-span.field-span= boutique.salamat
								li.boutique-info-list-item
									span.boutique-info-label-span.field-span Салон:
									span.boutique-info-value-span.field-span= boutique.salon
								li.boutique-info-list-item
									span.boutique-info-label-span.field-span Телефон:
									span.boutique-info-value-span.field-span= boutique.phone
								li.boutique-info-list-item
									span.boutique-info-label-span.field-span Эл.адрес:
									span.boutique-info-value-span.field-span= boutique.email
								li.boutique-info-list-item
									span.boutique-info-label-span.field-span Сайт:
									span.boutique-info-value-span.field-span= boutique.site
						.boutique-content-decription
							h3.boutique-decription-title Описание
							p.boutique-description-text= boutique.about
						.boutique-content-photos
							.boutique-photos-header
								h3.photos-header-title Товары/Услуги
							.boutique-photos-items.clearfix
								each pic in picts
									.boutique-photos-item
										- var url = './img/boutiques/' + pic
										img.boutique-photo-img(src= url)



